.Sidebar {
    transform: translateX(-100%);
    animation: slide-in .5s forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        scale: 50% 1;
    }
    100% {
        transform: translateX(0);
        scale: 100% 1;
    }
}

a {
    transform: translateX(-100%);
    animation: slide-in .8s forwards;
}

.Topbar {
    transform: translateY(-100%);
    animation: slide-in_top .5s forwards;
}

@keyframes slide-in_top {
    0% {
        transform: translateY(-100%);
        scale: 1 50%;
    }
    100% {
        transform: translateY(0);
        scale: 1 100%;
    }
}

.Filter {
    transform: translateY(-80%);
    animation: slide-in_filter .5s forwards;
}


@keyframes slide-in_filter {
    0% {
        transform: translateY(-80%);
        scale: 1 200%;
    }
    100% {
        transform: translateY(0);
        scale: 1 100%;
    }
}