*,*::before,*::after {
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
}

.App-body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: green; */
  /* width: 100vw; */
  height: 100vh;
}




.Main-dashboard {
  display: grid;
  grid-template-columns: 26em 1fr;
  grid-template-rows: auto 1fr;
  overflow-x: hidden;
  height: 100vh;
}

.Main-dashboard > .Sidebar {
  grid-row: 1 / span 2;
  transition: transform 0.3s ease;
}

.Main-dashboard > .Filter {

  padding: 1rem;
}

.Main-dashboard > .Main-content {

  padding: 2rem;
  overflow-y: auto;
}


/* @media */

@media (max-width: 1800px) {
  .Main-dashboard {
    display: grid;
    grid-template-columns: 18em 1fr;
    grid-template-rows: auto 1fr;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
  }

}

@media (max-width: 1100px) {
  .Main-dashboard {
    display: grid;
    grid-template-columns: 14em 1fr;
    grid-template-rows: auto 1fr;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
  }
}

@media (max-width: 740px) {
  .Main-dashboard {
    display: grid;
    grid-template-columns: 8em 1fr;
    grid-template-rows: auto 1fr;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
  }
}