.Filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    height: 30%;  
    width: 100%; 
    box-shadow: -2px 10px 17px -6px rgba(0,0,0,0.75);
    -webkit-box-shadow: -2px 10px 17px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 10px 17px -6px rgba(0,0,0,0.75);
}



.Filter_title {
    display: flex;
    gap: 10px;
    margin-right: 1em;
    flex-direction: column;
}

select {
    width: 15em;
    height: 3em;
    border-radius: 3px;
}

.Filter_button {
    width: 15%;
    height: 3em;
     /* Check if this is correct */
    background-color: lightblue;
    color: white;
    font-weight: 900;
    border: none;
    margin-top: auto;
    padding: 3px;
    
    flex-wrap: wrap;
}


@media (max-width: 800px) {
    .Filter {
        flex-direction: row;
        width: 100%;
        display: flex;
    }
    
    button {
        font-size: 12px;
        width: 100%;
    }
    label {
        font-size: 12px;
        width: 100%;
    }
}