.Filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    border: 3px solid orange;
    width: 60%;
    margin-left: 40%;
    margin-top: 5vh;
}

.FilterName {
    font-size: 22px;
    justify-content: center;
    margin-top: 2%;
    height: 2em;
}


button {
    border: 5px solid black;
    width: 100%;
    background-color: darkblue;
    color: white;
    font-size: 14px;
    margin-top: 2%;
    height: 3em;
    
    flex-wrap: wrap;
}


@media (max-width: 800px) {
    .Filter {
        flex-direction: column;
        align-items: stretch;
        width: 20%;
        display: flex;
        margin-left: 70%;
    }
    
    button {
        font-size: 12px;
        width: 100%;
    }
}