.Main-style2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.Main-title2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin: auto;
}

.Main-title2 > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    margin-bottom: 0;
}