.Main-style3 {
    flex-wrap: wrap;
}

.Main-title3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin: auto;
}

.Main-title3 > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.Main3-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}


.Box3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    padding: 3em;
}

.Box3-id-1 {
    grid-column: 1;
    grid-row: 1;
}

.Box3-id-2 {
    grid-column: 2;
    grid-row: 1;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.Box3-id-3 {
    grid-column: 2;
    grid-row: 2;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.Box3-id-4 {
    grid-column: 2;
    grid-row: 3;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}



.Circle3 {
    position: relative;
    height: 9em;
    width: 9em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 1.5em;
    animation: fillCircle 2s ease forwards;
    --percentage: 0deg;

    background: conic-gradient(var(--color, #00bfff) var(--percentage, 0deg), #eee 0deg);
}



.Circle3::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
}

.Circle3 > h4 {
    font-size: 40px;
    position: relative;
    z-index: 2;
}



.Main3-h3 {
    font-size: 16px;
}

.Label3 {
    font-size: 28px;
}

















@media (max-width: 1860px) {
    .Main-style3 {
        width: 100%;
        height: 100%;
        justify-content: space-around;
        gap: 2em;
    }
    .Main-title3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: auto;
    }
    .Main-title3 > h2 {
        font-size: 22px;
    }
    .Box3 {
        padding: 2.5em;
    }
    .Circle3 {
        height: 7.5em;
        width: 7.5em;
    }
    .Circle3::before {
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
    }
    .Main3-h3 {
        font-size: 16px;
    }
    .Label3 {
        font-size: 22px;
    }
    .Circle3 > h4 {
    font-size: 36px;
    }
}

@media (max-width: 1300px) {
    .Main-style3 {
        width: 100%;
        height: 100%;
        
    }
    .Main-title3 > h2 {
    font-size: 18px;
    font-weight: 600;
    }
    .Main-title3 > p {
    font-size: 12px;
    }
    .Main3-h3 {
        font-size: 12px;
    }
    .Box3 {
        padding: 2em;
    }
    .Label3 {
        font-size: 18px;
    }
    .Circle3 {
        height: 5.5em;
        width: 5.5em;
    }
    .Circle3::before {
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
    }
    
    .Circle3 > h4 {
        font-size: 30px;
    }
}



@media (max-width: 1000px) {
    .Main-style3 {
        width: 100%;
        height: 100%;
    }
    .Main-title3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: auto;
    }
    .Main-title3 > h2 {
    font-size: 16px;
    font-weight: 600;
    }
    .Main-title3 > p {
    font-size: 12px;
    }
    .Box3 {
        padding: 1.5em;
    }
    .Label3 {
        font-size: 14px;
    }
    .Main3-h3 {
        font-size: 10px;
    }
    .Circle3 {
        height: 5em;
        width: 5em;
    }
    .Circle3::before {
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
    }
    
    .Circle3 > h4 {
        font-size: 22px;
    }
}

@media (max-width: 850px) {
    .Main-style3 {
        width: 100%;
        height: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .Main-title3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: auto;
    }

    .Main-title3 > h2 {
        font-size: 14px;
        font-weight: 600;
        flex-direction: column;
        align-items: flex-start;
    }
    .dynamicHeading {
        margin-left: 0em;
    }

    .Box3 {
        padding: 1em;
    }
    .Label3 {
        font-size: 12px;
    }
    .Main3-h3 {
        font-size: 8px;
    }
    .Circle3 {
        height: 5em;
        width: 5em;
        margin: .5em;
    }
    .Circle3::before {
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
    }
    
    .Circle3 > h4 {
        font-size: 26px;
    }
}