.Main-style9 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5em;
}

.Main-title9 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.dynamicHeading {
    color: lightseagreen;
    margin-left: .5em;
}

.Main-title9 > h2 {
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Main-title9 > p {
    font-size: 14px;
}

.Box9 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.Main9-h3 {
    display: none;
}

.Circle9 {
    position: relative;
    height: 8em;
    width: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 1.5em;
    animation: fillCircle 2s ease forwards;
    --percentage: 0deg;

    background: conic-gradient(var(--color, #00bfff) var(--percentage, 0deg), #eee 0deg);
}



@keyframes fillCircle {
    0% {
        background: conic-gradient(var(--color, #00bfff) 0deg, #eee 0deg);
    }

    100% {
        background: conic-gradient(var(--color, #00bfff) var(--target-percentage, 0deg), #eee 0deg);
    }
}

/* background: `conic-gradient(${color} ${item.percentage * 3.6}deg, #eee 0deg)` */

.Circle9::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
}

.Circle9 > h4 {
    font-size: 40px;
    position: relative;
    z-index: 2;
}

.Label9 {
    font-size: 32px;
    font-weight: 600;
}

.line {
    width: 95%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

@media (max-width: 1800px) {
    .Main-style9 {
        width: 100%;
        height: 100%;
        justify-content: flex-start;
        gap: 2em;
    }
    .Main-title9 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: auto;
    }
    .Main-title9 > h2 {
        font-size: 22px;
    }
    .Circle9 {
        height: 7.8em;
        width: 7.8em;
    }
    .Circle9::before {
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
    }
    .Label9 {
        font-size: 30px;
    }

}

@media (max-width: 1300px) {
    .Main-style9 {
        width: 100%;
        height: 100%;
        
    }
    .Main-title9 > h2 {
        font-size: 18px;
        font-weight: 600;
    }
    .Main-title9 > p {
        font-size: 12px;
    }
    .Main9-h3 {
        font-size: 26px;
    }
    .Label9 {
        font-size: 26px;
    }
    .Circle9 {
        height: 7em;
        width: 7em;
    }
    .Circle9::before {
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
    }
    
    .Circle9 > h4 {
        font-size: 38px;
    }
}



@media (max-width: 1000px) {
    .Main-style9 {
        width: 100%;
        height: 100%;
    }
    .Main-title9 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 92%;
        margin: auto;
    }
    .Main-title9 > h2 {
        font-size: 16px;
        font-weight: 600;
    }
    .Main-title9 > p {
        font-size: 12px;
    }
    
    .Label9 {
        font-size: 24px;
    }
    .Circle9 {
        height: 6em;
        width: 6em;
    }
    .Circle9::before {
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
    }
    
    .Circle9 > h4 {
        font-size: 34px;
    }
}

@media (max-width: 850px) {
    .Main-style9 {
        width: 100%;
        height: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .Main-title9 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 95%;
        margin: auto;
    }
    .Main-title9 > h2 {
        font-size: 12px;
        font-weight: 600;
        flex-direction: column;
        align-items: flex-start;
    }
    .Main-title9 > p {
        font-size: 14px;
    }
    .Main9-h3 {
        font-size: 26px;
        margin-bottom: 0;
        text-align: center;
    }
    .dynamicHeading {
        margin-left: 0em;
    }
    .Box9 {
        margin: 0em;
        margin-top: 1em;
        margin-bottom: 1em;
        flex-direction: column;
    }
    .Label9 {
        font-size: 26px;
        flex-wrap: wrap;
        text-align: center;
    }
    .Circle9 {
        height: 7.5em;
        width: 7.5em;
        margin: .5em;
    }
    .Circle9::before {
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
    }
    
    .Circle9 > h4 {
        font-size: 40px;
    }
}
