.Sidebar {
    border: 5px solid black;
    width: 30%;
    margin-top: 1vh;
    height: 95vh;
    background-color: darkblue;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;

}

ul {
    padding: 0;
    width: 90%;
}

li {
    list-style: none;
    border: 5px solid red;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    padding: 0.2em;
    border-radius: 20px;
}

a {
    color: red;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    align-items: center;
}

@media (max-width: 800px) {
    a {
        font-size: 12px;
    }

    ul {
        justify-content: center;
        align-items: center;
    }
}