.Sidebar {
    /* width: 30%;
    height: 100vh; */
    background-color: royalblue;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

ul {
    padding: 0;
    width: 95%;
}

li {
    list-style: none;
    border-bottom: 0.1px solid rgba(255, 255, 255, 0.5);
    margin-top: 3%;
    padding: 0.4em;
}

a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px;
}


@media (min-width: 1000px) {
    
    .Menu > span {
        display: none;
    }

    #menu-toggle {
        display: none;
    }
}


@media (max-width: 1000px) {
    .Sidebar {
        flex-wrap: wrap;
        height: auto;
        transform: translateX(-100%);
    }

    .Menu {
        transform: translateX(100%);
        padding: 2em;
    }

    .Menu > span {
        border: 2px solid black;
        margin: 5px;
        width: 2em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #menu-toggle {
        position: absolute;
        cursor: pointer;
        opacity: 0;
        width: 40px;
        transform: scale(2);
        z-index: 2;

        -webkite-touch-callout: none;
    }

    @keyframes menuAnimation {
        0% {
            transform: translateX(-100%);
            scale: 200% 1;
        }
        100% {
            transform: translateX(0);
            scale: 100% 1;
        }
        
    }
    a {
        font-size: 16px;
    }

    ul {
        justify-content: center;
        align-items: center;
    }
}











@media (max-width: 800px) {
    .Sidebar {
        flex-wrap: wrap;
        height: auto;
    }
    a {
        font-size: 12px;
    }

    ul {
        justify-content: center;
        align-items: center;
    }
}